In [1]:
from EventStreamData import *
from GUID import *
import pandas as pd 
import numpy as np 
from pandas.io.json import json_normalize

In [2]:
gameresult = GameResult()
display(gameresult.get_data().head(2))

,esports_match_id,start_time,total_game_time,num_map,map_name,map_type,map_winner,team_one_name,team_two_name,team_one_score,team_two_score
0,31054,1586031115938,422.707,1,Lijiang Tower,CONTROL,Toronto Defiant,Toronto Defiant,Washington Justice,2,0
1,31054,1586031884822,441.465,2,Volskaya Industries,ASSAULT,Washington Justice,Washington Justice,Toronto Defiant,1,0

In [3]:
kill = Kill()
display(kill.get_data().head(2))

,esports_match_id,time,num_map,map_name,map_type,killed_player_id,killed_player_hero_name,final_blow_player_id,death_position,killer_position,killed_pet
0,35509,1602155640935,1,Oasis,CONTROL,1937008998,207165582859042838,0,"(184.9043, 8.418945, -201.06543)","(0.0, 0.0, 0.0)",TRUE
1,35509,1602155641107,1,Oasis,CONTROL,1937008998,207165582859042838,0,"(184.9043, 8.418945, -201.04883)","(0.0, 0.0, 0.0)",TRUE

In [4]:
gameinfo = GameInfo().get_data()
display(gameinfo.head(2))

,esports_match_id,time,num_map,map_name,map_type,num_round,round_name,team_one_name,team_two_name,attacking_team_name,team_one_score,team_two_score,team_one_payload_distance,team_two_payload_distance,team_one_time_banked,team_two_time_banked,context
0,35509,1602155640554,1,Oasis,CONTROL,1,Gardens,Seoul Dynasty,San Francisco Shock,Seoul Dynasty,0,0,0.0,0.0,0.0,0.0,SNAPSHOT
1,35509,1602155642556,1,Oasis,CONTROL,1,Gardens,Seoul Dynasty,San Francisco Shock,Seoul Dynasty,0,0,0.0,0.0,0.0,0.0,SNAPSHOT

In [5]:
playerstatus = PlayerStatus()
display(playerstatus.get_data())

,esports_match_id,time,num_map,map_name,map_type,team_name,player_name,hero_name,health,ultimate_percent,is_ultimate_ready,is_alive,position
0,35509,1602155641146,1,Oasis,CONTROL,Seoul Dynasty,Fits,Symmetra,200.000000,0.00,False,True,"(184.90527, 8.418945, -201.04492)"
1,35509,1602155641146,1,Oasis,CONTROL,Seoul Dynasty,tobi,Lucio,200.000000,0.00,False,True,"(188.17969, 8.418945, -204.09375)"
2,35509,1602155641146,1,Oasis,CONTROL,Seoul Dynasty,PROFIT,Pharah,200.000000,0.00,False,True,"(186.66406, 8.524414, -199.64746)"
3,35509,1602155641146,1,Oasis,CONTROL,Seoul Dynasty,Gesture,Roadhog,600.000000,0.00,False,True,"(186.03809, 8.418945, -200.66309)"
4,35509,1602155641146,1,Oasis,CONTROL,Seoul Dynasty,Marve1,Wrecking Ball,600.000000,0.00,False,True,"(187.2461, 8.422083, -201.96191)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
276139,35552,1602344375245,6,Hollywood,HYBRID,Seoul Dynasty,tobi,Mercy,150.000000,0.34,False,True,"(-1.0302734, 1.7465973, -8.923828)"
276140,35552,1602344375245,6,Hollywood,HYBRID,San Francisco Shock,Viol2t,Zenyatta,200.000000,1.00,True,True,"(0.3486328, 2.5722656, -48.916992)"
276141,35552,1602344375245,6,Hollywood,HYBRID,San Francisco Shock,moth,Mercy,74.499916,0.18,False,True,"(17.614258, 7.415039, -45.6709)"
276142,35552,1602344375245,6,Hollywood,HYBRID,Seoul Dynasty,Marve1,Sigma,210.987460,0.00,False,True,"(-3.1699219, 7.8310547, -24.582031)"
276143,35552,1602344375245,6,Hollywood,HYBRID,Seoul Dynasty,Gesture,Roadhog,475.200000,0.19,False,True,"(-1.9433594, 1.7982056, -30.288086)"

In [6]:
df = playerstatus.get_data()
display(df['hero_name'].unique())
display(df[df['hero_name'] == '207165582859043334'])

array(['Symmetra', 'Lucio', 'Pharah', 'Roadhog', 'Wrecking Ball', 'Ana',
       'Ashe', 'Zenyatta', 'Mercy', 'Sombra', 'Tracer', 'Winston',
       'Soldier: 76', 'Sigma', 'Widowmaker', 'D.Va', 'Hanzo', None,
       'Baptiste', 'Orisa', 'Genji', 'Reaper', 'Moira', 'Mei', 'Doomfist',
       '207165582859043334', 'Reinhardt', 'Torbjorn'], dtype=object)

,esports_match_id,time,num_map,map_name,map_type,team_name,player_name,hero_name,health,ultimate_percent,is_ultimate_ready,is_alive,position
34986,35552,1602339563496,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(98.38867, 7.814453, -3.2939453)"
34998,35552,1602339577679,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(94.80762, 13.827148, -4.0585938)"
35010,35552,1602339600595,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(79.14453, -2.5751953, -0.23535156)"
35022,35552,1602339602773,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(76.293945, -2.0050201, -0.47265625)"
35034,35552,1602339603864,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,162.5,0.0,False,True,"(77.375, -2.0, -1.0898438)"
75582,35552,1602339567863,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(89.59277, 7.0810547, -2.5136719)"
75594,35552,1602339572224,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(94.674805, 6.3242188, 1.109375)"
75606,35552,1602339583138,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(97.61719, 7.790039, -3.1689453)"
114930,35552,1602339562404,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(106.916016, 1.1083984, -7.1035156)"
114942,35552,1602339573317,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(95.55664, 2.1298828, -7.401367)"
114954,35552,1602339574408,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(93.53906, 12.626953, -0.5576172)"
114966,35552,1602339591861,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(99.32031, 9.3828125, -6.0117188)"
114978,35552,1602339597319,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(87.53027, 0.37109375, -3.9648438)"
154446,35552,1602339561313,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(111.12109, 0.99775696, -4.3720703)"
154458,35552,1602339565678,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(96.89844, 12.560547, 5.7822266)"
154470,35552,1602339571132,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(98.77637, 7.40625, 5.3339844)"
154482,35552,1602339576591,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(93.28223, 12.0, -2.6035156)"
154494,35552,1602339586411,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(94.49609, 13.800781, 1.3017578)"
154506,35552,1602339592955,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(97.11426, 13.030273, -5.3447266)"
154518,35552,1602339594050,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(94.961914, 8.698242, 2.8027344)"
193710,35552,1602339564589,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(93.73242, 13.363281, 1.0800781)"
193722,35552,1602339568953,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(93.83008, 7.8756866, -3.1748047)"
193734,35552,1602339570044,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(94.3125, 7.9277344, 2.8173828)"
193746,35552,1602339579862,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(93.96973, 12.885742, -0.625)"
193758,35552,1602339585317,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(92.27832, 12.0, -3.9814453)"
193770,35552,1602339589682,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(92.75098, 12.205078, -5.334961)"
193782,35552,1602339590771,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(94.85156, 13.899414, -0.27148438)"
193794,35552,1602339596227,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(90.46875, 4.9814453, -5.7695312)"
193806,35552,1602339598410,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(85.899414, -2.3642578, -3.5898438)"
193818,35552,1602339599499,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(80.73926, -2.1992188, -0.66503906)"
193830,35552,1602339604956,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(79.18164, -2.59375, -1.3828125)"
232494,35552,1602339575495,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(95.353516, 12.876953, 4.8554688)"
232506,35552,1602339582045,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(96.15723, 10.170898, -10.254883)"
232518,35552,1602339587505,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(93.953125, 12.887695, -1.2958984)"
232530,35552,1602339588591,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(92.26953, 13.901367, -6.4960938)"
232542,35552,1602339601681,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(78.04492, -2.0253906, -0.54296875)"
270786,35552,1602339566772,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(94.70703, 10.9765625, 2.4882812)"
270798,35552,1602339578776,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(94.47949, 13.137695, 3.2578125)"
270810,35552,1602339580950,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(94.05664, 13.893555, -6.6435547)"
270822,35552,1602339584230,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(95.62988, 14.055664, 0.8203125)"
270834,35552,1602339595136,3,Hanamura,ASSAULT,San Francisco Shock,STRIKER,207165582859043334,200.0,0.0,False,True,"(93.319336, 8.012695, -1.5097656)"